:root {
    --prime-tex-color: #212121;
    --white-text-color: #ffffff;
    --accent-blue-color: #2196f3;
    --secondary-color: #757575;
    --white-prime-bgc: #ffffff;
    --contex-bgc-color: #2f303a;
    --secondary-bgc-color: #f5f4fa;
    --icon-color: #AFB1B8;
    --hover-part-color: #188ce8;
    --low-opacity-text: rgba(255, 255, 255, 0.6);
    --footer-icon-bgclr: rgba(255, 255, 255, 0.1);
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --hover-porfolio-link: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --backdrop-bg: rgba(0, 0, 0, 0.2);
    --projects-bg-hover: rgba(33, 150, 243, 0.9);
    --cubic-conversion: cubic-bezier(0.4, 0, 0.2, 1);
  }